@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');


:root {
    /* Color Variables */
    --primary-color: #C5D5EA; /* Columbia blue */
    --secondary-color: #759EB8; /* Air superiority blue */
    --accent-color: #7392B7; /* Silver lake blue */
    --additional-accent-color: #B3C5D7; /* Powder blue */
    
    /* Font Variables */
    --heading-font: 'Roboto', sans-serif;
    --paragraph-font: 'Arial', sans-serif;
    
    /* Navigation Variables */
    --nav-bg-color: #333333;
    --nav-link-color: #ffffff;
    --nav-hover-link-color: #ff9900;
    --nav-hover-bg-color: #444444;
  }
  


  body {
    font-family: var(--paragraph-font); /* Set default font-family using the paragraph-font variable */
    max-width: 960px; /* Limit the width of the document to 960 pixels */
    padding: 20px; /* Set padding around the document to 20 pixels */
  }
  


  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font); /* Set font-family using the heading-font variable */
    color: #333333; /* Choose your preferred color */
  }
  

  header {
    background-color: var(--accent1-color); /* Use the primary color for the background */
    padding: 20px; /* Add padding to the header */
    color: #ffffff; /* Set text color to white for better visibility */
  }


p {
    padding: 25px;
}
  
nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-bg-color);
}